APScheduler==3.9.1
Django==4.0.3
django-cors-headers==3.11.0
fin_news==0.1.2
finnews==1.1.0
firebase_admin==5.0.3
numpy==1.22.3
pandas==1.4.1
pandas_datareader==0.10.0
prettytable==3.2.0
pyTelegramBotAPI==4.5.0
requests==2.27.1
yahoo_fin==0.8.9.1
yfinance==0.1.70
